body {
    margin: 0;
    padding: 0;
    text-align: center;
}

a img {
    border: none;
    outline: none;
}

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'), url('../fonts/leaguegothic-regular-webfont.woff') format('woff'), url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    background-image: url("../img/background.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 800px;
    font-family: "league_gothicregular";
    margin: 0 auto;
}

main {
    width: 960px; /* ширина основного блока */
    height: auto; /* высота для наглядности */
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
}

.pingbuller {
    float: left;
    width: 20%;
    margin-top: 50px;
}

.menu {
    float: right;
    padding-top: 50px;
    font-family: "league_gothicregular";
    width: 70%;
    margin-right: -10%;
}

.menu_link {
    display: inline;
    list-style: none;
    color: white;
    text-shadow: 2px 2px 1px rgba(150, 150, 150, 1);
}

.menu_remark {
    font-size: 20px;
    display: inline-block;
    margin-right: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

    .menu_remark:active {
        color: white;
    }

    .menu_remark:visited {
        color: snow;
    }

    .menu_remark:after {
        display: block;
        content: "";
        height: 4px;
        width: 0%;
        background-color: rgb(237,191,255);
        transition: width .3s ease-in-out;
    }

    .menu_remark:hover:after,
    .menu_remark:focus:after {
        width: 100%;
    }

.dropdown_menu {
    visibility: collapse;
    clear: both;
    padding-top: 2%;
    text-align: center;
    font-family: "league_gothicregular";
    color: white;
    font-size: 25px;
    margin-right: 0%;
}

.header_iphone {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=40)";
    position: relative;
    height: 350px;
    background: black;
}

.header_lorem {
    width: 423px;
    text-align: left;
    overflow: hidden;
    position: absolute;
    top: 10%;
    LEFT: 1%;
    height: 100%;
}

.lorem {
    font-size: 65px;
    color: white;
}

.dreams_pink {
    width: 100%;
    height: 15%;
    font-size: 30px;
    color: rgb(237,191,255);
    font-family: "league_gothicregular";
}

.open_sans {
    font-size: 18px;
    color: rgb(244,243,244);
    font-family: Open Sans;
}

.blur_iphone {
    position: absolute;
    right: 20%;
    bottom: 25%;
}

.iphone {
    position: absolute;
    right: 10%;
    bottom: 20px;
}

.sprite_first, .sprite_second, .sprite_third {
    height: 100%;
    width: 25%;
    float: left;
    text-align: left;
    padding-left: 7%;
    margin-top: 10%;
    color: white;
    font-family: "league_gothicregular";
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.parent-element {
    background: url(../img/result.png);
    background-repeat: no-repeat;
    DISPLAY: inline-block;
    width: 27px;
    height: 27px;
    background-position-x: 1px;
    background-position-y: 0px;
    position: absolute;
    left: 3%;
}

.parent_sprite {
    background: url(../img/result.png);
    background-repeat: no-repeat;
    DISPLAY: inline-block;
    width: 27px;
    height: 27px;
    background-position-x: -5px;
    background-position-y: -35px;
    position: absolute;
    left: 35%;
}

.parent-east {
    background: url(../img/result.png);
    background-repeat: no-repeat;
    DISPLAY: inline-block;
    width: 31px;
    height: 31px;
    background-position-x: -2px;
    background-position-y: -76px;
    position: absolute;
    left: 67%;
}

.sprite_txt {
    text-align: left;
    font-family: Open Sans;
    color: white;
    font-size: 15px;
    margin-top: 5%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.read_more {
    font-family: "league_gothicregular";
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.read {
    text-align: right;
    margin-top: 5%;
}

.read_more:hover {
    text-shadow: 1px 1px 11px rgba(255, 255, 255, 1);
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#666666, Direction=45, Strength=4);
    background-color: #FFA773;
}

.buttons {
    width: 100%;
    height: 10%;
    margin-top: 10%;
}

.slider__buttons {
    margin-left: 45%;
}

    .slider__buttons li {
        float: left;
        list-style: none;
        margin-left: 1%;
    }

    .slider__buttons a {
        display: block;
        width: 20px;
        height: 18px;
        background: url('../img/Untitled-7.png') no-repeat;
        background-position-x: 0px;
        background-position-y: 0px;
    }

        .slider__buttons a:hover {
            background: url('../img/Untitled-8.png') no-repeat;
            background-position-x: 1px;
            background-position-y: 1px;
        }

        .slider__buttons a:focus {
            background: url('../img/Untitled-8.png') no-repeat;
            background-position-x: 1px;
            background-position-y: 1px;
        }

.buttons2 {
    width: 100%;
    height: 10%;
    margin-top: 5%;
}

.slider__buttons2 {
    position: relative;
    right: 25%;
    top: 800%;
    overflow: hidden;
    width: 30%;
}

    .slider__buttons2 li {
        float: left;
        list-style: none;
        margin-left: 1%;
    }

    .slider__buttons2 a {
        display: block;
        width: 20px;
        height: 18px;
        background: url('../img/Untitled-9.png') no-repeat;
        background-position-x: 0px;
        background-position-y: 0px;
    }

        .slider__buttons2 a:hover {
            background: url('../img/Untitled-10.png') no-repeat;
            background-position-x: 1px;
            background-position-y: 1px;
        }

        .slider__buttons2 a:focus {
            background: url('../img/Untitled-10.png') no-repeat;
            background-position-x: 1px;
            background-position-y: 1px;
        }

.sprite {
    background-image: url("../img/violet.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 340px;
    margin-bottom: 150px;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.75);
    /*filter: progid:DXImageTransform.Microsoft.Shadow(Color=red, Strength=5, Direction=0),
         progid:DXImageTransform.Microsoft.Shadow(Color=red, Strength=5, Direction=90),
         progid:DXImageTransform.Microsoft.Shadow(Color=red, Strength=5, Direction=180),
         progid:DXImageTransform.Microsoft.Shadow(Color=red, Strength=5, Direction=270);*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
}

.wrapper {
    height: 245px;
    margin-bottom: 90px;
}

.update {
    font-size: 25px;
    font-family: "league_gothicregular";
    margin-left: 40px;
}

.blockquote {
    width: 416px;
    height: 100%;
    text-align: left;
    float: left;
    margin-left: 5%;
    margin-top: -5%;
}

.open_sans_black {
    font-size: 15px;
    color: black;
    font-family: Open Sans;
}

.posted {
    font-size: 15px;
    color: black;
    font-family: Open Sans;
}

.posted2 {
    font-size: 15px;
    color: black;
    font-family: Open Sans;
}

.radio2 {
    position: absolute;
    left: 18%;
    margin-top: 20%;
}

    .radio2 label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding-left: 15px;
        margin-right: 10px;
    }

input[type=radio] {
    display: none;
}

.radio2 label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: white;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio2 label:before {
    border-radius: 8px;
}

input[type=radio]:checked + .radio2 label:before {
    content: "\2022";
    color: black;
    font-size: 40px;
    text-align: center;
    line-height: 20px;
}

.recent_update {
    width: 430px;
    text-align: left;
    overflow: hidden;
    height: 275px;
    position: relative;
    top: -45%;
    left: 14%;
}

.man {
    float: left;
    width: 50px;
    margin-left: 20px;
    margin-top: -6%;
    clear: both;
}

.title_update {
    font-size: 25px;
    font-family: "league_gothicregular";
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px rgba(244, 244, 244, 1);
    margin-top: 10px;
}

.circle {
    float: left;
    width: 50px;
}

.update_read {
    font-size: 20px;
    font-family: "league_gothicregular";
    float: right;
    text-decoration: none;
    color: black;
}

.dreams_pink_20px {
    width: 75%;
    height: 15%;
    font-size: 25px;
    color: rgb(237,191,255);
    font-family: "league_gothicregular";
}
/*.ffigure a img {
 border:none;
 outline:none;
}*/
.ffigure {
    height: 100px;
    width: 100%;
    overflow: hidden;
    zoom: 1;
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=0),
         progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=90), 
        progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=180),
         progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=5, Direction=270);
    background-color: white;
}

.icon {
    margin-right: 65px;
}

    .icon:nth-child(-n+3) {
    }

    .icon:nth-child(4) {
        margin-left: 0;
        margin-right: 0;
    }

    .icon:nth-child(5) {
        margin-left: 0;
        margin-right: 0;
    }

.sidebar {
    height: 400px;
    background-color: rgb(236,236,236);
    margin-bottom: 4px;
}

.first_column, .second_column, .third_column {
    height: 215px;
    width: 30%;
    float: left;
    text-align: left;
    padding-left: 20px;
    margin-top: 100px;
    margin-left: 5px;
}

.nunc {
    font-size: 15px;
    color: rgb(120,120,120);
    font-family: Open Sans;
    text-shadow: 1px 1px 2px rgba(244, 244, 244, 1);
}

.side_ping {
    color: rgb(69,69,69);
    font-size: 40px;
    font-family: "league_gothicregular";
}

.side_violet {
    color: rgb(185,185,185);
    font-size: 40px;
    font-family: "league_gothicregular";
}

.copyright {
    font-style: italic;
    font-size: 15px;
    color: rgb(197,197,197);
    text-shadow: 1px 1px 2px rgba(244, 244, 244, 1);
}

.footer {
    background: url(../img/footer.png);
    height: 135px;
    -webkit-box-shadow: 1px -1px 7px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 7px 1px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 7px 1px rgba(0,0,0,0.75);
}

.more {
    visibility: collapse;
}

.footer_end {
    float: right;
    margin-top: 60px;
    margin-right: 15px;
}

.design {
    color: white;
    font-family: Open Sans;
    font-size: 11px;
}

.footer_menu {
    float: left;
}

.f_menu {
    font-family: "league_gothicregular";
    margin-top: 5%;
    width: 100%;
}

.menu_remark {
    font-size: 20px;
    display: inline-block;
    margin-right: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.third_column_two, .third_column_three {
    display: none;
}
